{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
        <form action="/add" method="post">
            <div class="form-group">
                <h2>Enter value to add to cash to your account</h2>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Value" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
{% endblock %}
